* {
    margin: 0;
    padding: 0;
    
} 

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.box {
    position: absolute;
    top: 0%;
    height: 100vh;
    width: 100vw;
    opacity: 0.69;
    background-color: black;

}

.content {
    background-image: url(netflixbg1.jpg);
    height: 100vh;
    width: 100vw;
    background-color: rgb(47, 42, 42);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1100px, 100vw);
    position: relative;

}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 55px;
    width: 100vw;

}

.nav img {
    color: red;
    height: 38px;
    margin-top: 32px;
    margin-right: 100px;
    position: relative;
    z-index: 10;
}

.nav .b1 {

    position: relative;
    z-index: 1;
    margin-top: 13px;
}

.b1 .b11 {
    border-radius: 5px;
    border: solid 0.2px grey;
    background-color: rgb(27, 26, 26);
    color: white;
    font-size: 16px;
    width: 91px;
}

.b1 button {
    margin: 20px;
    padding: 6px;
}

.b1 .b12 {
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    padding: 8px;
    width: 89px;
    font-size: 15px;
    font-family: sans-serif;
}

.b11:hover {
    cursor: pointer;
    background-color: rgb(46, 39, 39);
}

.b12:hover {
    cursor: pointer;
    background-color: rgb(198, 45, 45);
}

.write {
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding-left: 25px;
    margin: 203px 14%;

}

.write h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
}

.write .w3 {
    margin-left: 32%;
    margin-top: 15px;
    font-size: 28px;
    font-weight: 100;

}

.write .w1 {
    margin-left: 35%;
    margin-bottom: 5px;
    font-size: 31px;
    font-weight: 100;
}

.bu {
    background-color: red;
    color: whitesmoke;
    padding: 15px;
    margin: 5px;
    margin-left: 35%;
    margin-top: 4%;
    border-radius: 3px;
    border: white;
    font-size: 27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bu:hover {
    cursor: pointer;
    background-color: rgb(210, 24, 24);

}

.box2 {
    display: flex;
    height: 565px;
    width: 100%;
    background-color: black;
    border-top: 8px solid rgb(54, 49, 49);
    border-bottom: 8px solid rgb(54, 49, 49);

}

.write2 {
    height: 100%;
    width: 55%;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.write2 h4 {
    margin-left: 27%;
    margin-top: 14px;
    font-weight: lighter;
    font-size: 24px;
}

.write2 h2 {
    font-size: 47px;
    font-family: sans-serif;
}

.animated {
    position: relative;
}

.animated img {
    margin: 25px;
    margin-top: 89px;
    height: 359px;
    position: relative;
    width: 517px;
    z-index: 10;
}

.animated video {
    display: flex;
    top: 157px;
    left: 66px;
    height: 234px;
    width: 469px;
    position: absolute;
    overflow: hidden;
}

.box3 {
    display: flex;
    height: 490px;
    width: 100%;
    background-color: black;
    border-bottom: 8px solid rgb(54, 49, 49);

}

.ph3 img {
    position: relative;
    margin: 70px;
    margin-top: 40px;
    margin-left: 186px;
    height: 354px;
    width: 526px;
}

.choras {
    display: flex;
    height: 75px;
    width: 259px;
    position: absolute;
    margin: 189px;
    margin-top: 275px;
    border: 1px solid grey;
    background-color: black;
    border-radius: 8px;
    margin-left: 319px;
}

.choras img {
    position: relative;
    width: 49px;
    height: 63px;
    margin: 9px 6px;
}

.choras h5 {
    color: white;
    display: flex;
    margin-bottom: 19px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    align-items: center;
    font-size: 14px;
    margin-left: 7px;

}

.choras p {
    position: absolute;
    color: rgb(61, 61, 216);
    margin-left: 69px;
    margin-top: 43px;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-small;

}

.downld {
    height: 45px;
    width: 45px;
    border-radius: 10px;
    opacity: .45;
    margin-top: 14px;
    margin-left: 29px;
    background: url(download-icon.gif) center center no-repeat;
}

.contwr {
    height: 200px;
    width: 25rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 140px;
    align-items: center;
}

.contwr p {
    font-size: 3rem;
    width: 550px;
    font-weight: 900;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.contwr h4 {
    color: white;
    margin-top: 131px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;

    margin-left: -75px;
    font-size: 22px;

}

.box4 {

    display: flex;
    height: 583px;
    width: 100%;
    background-color: black;
    border-bottom: 8px solid rgb(54, 49, 49);

}

.part1 {
    height: 20rem;
    width: 34rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    padding: 60px
}

.part1 p {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.part1 h4 {
    color: white;
    margin-left: 49px;
    margin-top: 15px;
    font-weight: 600;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.part2 {

    display: flex;
    justify-content: center;
    align-items: center;
}

.part2 img {
    position: relative;
    z-index: 10;
    height: 28rem;
    width: 35rem;

}

.part2 video {
    position: absolute;
    height: 550px;
    width: 360px;
    margin-bottom: 220px;
    margin-top: 80px;

}

.box5 {

    display: flex;
    height: 583px;
    width: 100%;
    background-color: black;
    border-bottom: 8px solid rgb(54, 49, 49);

}

.sec1 {
    height: 27rem;
    width: 44rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;

    color: white;

}

.sec1 img {
    position: relative;
    z-index: 10;
    height: 32rem;
    width: 38rem;
    margin-left: 136px;
    margin-top: 149px;
}

.sec2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: white;

}

.sec2 p {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 54px;
}

.sec2 h4 {

    margin-top: 22px;
    margin-left: 57px;
    font-weight: 600;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box6 {

    display: flex;
    flex-direction: column;
    height: 860px;
    width: 100%;
    background-color: black;
    border-bottom: 8px solid rgb(54, 49, 49);

}

.inbox p {
    color: white;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 69px;
    font-size: xx-large;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 3rem;
    width: 100vw;
}

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    height: 350px;
    width: 100vw;
    margin-top: 130px;
}

.faq button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px;
    cursor: pointer;
    border: none;
    margin-top: 7px;
    color: white;
    background-color: rgb(45, 45, 45);
    height: 100px;
    width: 80vw;
}

.faq button:hover {

    background-color: rgb(65, 62, 62);
}

.finalbu button {
    background-color: red;
    color: whitesmoke;
    padding: 15px;
    margin: 5px;
    margin-left: 37%;
    margin-top: 9%;
    border-radius: 3px;
    border: white;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.finalbu button:hover {
    cursor: pointer;
    background-color: rgb(210, 24, 24);
}

.box7 {

    display: flex;
    align-items: center;
    flex-direction: row;
    height: 364px;
    width: 100%;
    background-color: black;
    color: white;

}

.li1 {
    margin-left: 50px;
}

.box7 ul {
    list-style-type: none;
}

.box7 ul li {
    padding: 15px;
    padding-left: 120px;
    font-size: 13px;
    opacity: .75;
    cursor: pointer;
    text-decoration-line: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




.finalnet {
    position: absolute;
    margin-top: 245px;
    margin-left: 169px;
    font-size: 13px;
    opacity: .75;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box7 .call {
    position: absolute;
    margin-bottom: 197px;
    margin-left: 160px;
    padding-bottom: 30px;
    font-size: 15px;
    opacity: .75;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.call a {
    color: white;
    cursor: pointer;
}